<!-- dish-form.component.html -->
<form [formGroup]="dishForm">
  <div class="form-group">
    <label for="filename">{{ 'TEXT.DISH.NAME' | translate }}:</label>
    <input type="text" formControlName="filename" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="descriptions">{{ 'TEXT.DISH.DESCRIPTION' | translate }}:</label>
    <input type="text" formControlName="descriptions" class="form-control" required>
  </div>
  <div formArrayName="ingredients">
    <div *ngFor="let ingredient of ingredients.controls; let i = index" class="form-group">
      <label for="ingredientName">{{ 'TEXT.DISH.INGREDIENT' | translate }} {{ i + 1 }}:</label>
      <div class="form-row">
        <div class="col">
          <label>{{ 'TEXT.DISH.INGNAME' | translate }}</label>
          <input
            type="text"
            [formControl]="getIngredientControl(i, 'name')"
            class="form-control"
            required
          />
        </div>
        <div class="col">
          <label>{{ 'TEXT.DISH.WEIGHT' | translate }}</label>
          <input
            type="number"
            [formControl]="getIngredientControl(i, 'weight')"
            class="form-control"
            required
          />
        </div>
        <div class="col">
          <label>{{ 'TEXT.DISH.CAL' | translate }}</label>
          <input
            type="number"
            [formControl]="getIngredientControl(i, 'calories')"
            class="form-control"
            placeholder="calories"
            required
          />
        </div>
        <div class="col">
          <button type="button" class="btn btn-danger" (click)="removeIngredient(i)">{{ 'BUTTON.DISH.REMOVE' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-success" (click)="addIngredient()">{{ 'BUTTON.DISH.ADDING' | translate }}</button>

  <div class="form-group">
    <label for="dishType">{{ 'TEXT.DISH.TYPE' | translate }}:</label>
    <select formControlName="saladType" class="form-control" required>
      <option value="txt">{{ 'TEXT.DISH.TXT' | translate }}</option>
      <option value="dat">{{ 'TEXT.DISH.DAT' | translate }}</option>
    </select>
  </div>

  <button type="button" class="btn btn-primary" (click)="submitForm()">{{ 'BUTTON.DISH.CREATE' | translate }}</button>
  <button type="button" class="btn btn-secondary" (click)="onCancel()">{{ 'BUTTON.DISH.CANCEL' | translate }}</button>
</form>
