<!-- dish-edit.component.html -->
<div *ngIf="dish" class="edit-container">
  <h2>Edit Salad</h2>
  <form [formGroup]="editForm">
    <div class="form-group">
      <label for="filename">Filename: {{filename}}</label>
    </div>
    <div class="form-group">
      <label for="descriptions">Описание:</label>
      <input type="text" formControlName="descriptions" class="form-control" required>
    </div>

    <div formArrayName="ingredients">
      <div *ngFor="let ingredient of ingredients.controls; let i = index" class="form-group">
        <label for="ingredientName">Ingredient {{ i + 1 }}:</label>
        <div class="form-row">
          <div class="col">
            <input type="text" [formControl]="getIngredientControl(i, 'name')" class="form-control" placeholder="Name" required>
          </div>
          <div class="col">
            <input type="number" [formControl]="getIngredientControl(i, 'weight')" class="form-control" placeholder="Weight" required>
          </div>
          <div class="col">
            <input type="number" [formControl]="getIngredientControl(i, 'calories')" class="form-control" placeholder="Weight" required>
          </div>
          <div class="col">
            <button type="button" class="btn btn-danger" (click)="removeIngredient(i)">Remove</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-success" (click)="addIngredient()">Add Ingredient</button>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-success" (click)="save()">Save</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
